*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: "Assistant", sans-serif;
}

.navbar {
    width: 100%;
   
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.logo img{
    width: 55px;
}

.menubar{
    display: flex;
    gap: 25px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
}

.menubar sup{
    color: red;
    font-size: 10px;
}

.searchbar{
    margin-left: 20px;
    background-color: #f5f5f6;
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
}

.searchbar input{
    width: 100%;
    font-size: 14px;
}

.submenu{
    display: flex;
    gap: 25px;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 700;
}

.offer{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.offer img{
    width: 100%;
    height: auto;
}

.hero{
    display: flex;
    justify-content: center;
    margin-top: -100px;
}


.hero img{
    width: 80%;
    height: auto;
}

.discount_gif{
    width : 100%;
    justify-content: center;
    display: flex;
}

.discount_gif img{
    width : 70%;
    margin-top: -90px;
}

.text1{
    color: brown;
    font-weight: bolder;
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.itemz{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.mens{
    display: flex;
    gap:25px;
}

.mens img{
    width: 170px;
}

.categories{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.deals{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.deals img{
    width: 190px;
    height: auto;
}